//Kolory
$red-color-primary: #EC5252;
$red-color-secondary: #992337;

$white-text-color: #F2F2F2;
$black-text-color: #444;

$white-field-color: white;
$black-field-color: #444;

$blue-color-primary: #007791;
$blue-color-secondary: #003845;

$body-background-color: #E0E0E0;
$panel-background-color: #F7F7F7;

//Czcionki
$font-size-main: 14px;
$font-size-secondary: 12px;

//border-radius
$border-radius-main: 5px;
$border-radius-secondary: 3px;
