//Kolory
$red-color-primary: #EC5252;
$red-color-secondary: #992337;

$white-text-color: #F2F2F2;
$black-text-color: #444;

$white-field-color: white;
$black-field-color: #444;

$blue-color-primary: #007791;
$blue-color-secondary: #003845;

$body-background-color: #E0E0E0;
$panel-background-color: #F7F7F7;

//Czcionki
$font-main-size: 14px;
$font-secondary-size: 12px;

//border-radius
$main-border-radius: 5px;
