<!DOCTYPE  html>
<html lang='pl'>
<head>
	<meta charset='utf-8'>
	<title>MasterChess</title>
	<link href='../static/styles.css' rel='stylesheet'/>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
</head>
<body>

<div id="content">
  <header>
    <p id="logo">Master<span style="font-weight: bold;">Chess</span></p>
    <button class="red">Wyloguj</button>
  </header>
  <div class="wrapper">
    <div class="box menu"></div>
    <div class="box chess" v-on:click='updateCoordinates'>
			<template v-for="(field, index) in board">
					<span :id="index" v-html="field.htmlElem"></span>
			</template>
		</div>
    <div class="box infoGame info-game-wrapper">
			<div class="moveHeader">Twój ruch</div>

			<div class="player1">
					<span>Kasia98</span><br>
					<span class="score">0<span>p<span></span>
			</div>
			<div class="player2">
					<span>Marek</span><br>
					<span class="score">0<span>p</span></span>
			</div>
			<div class="box figureDescription" v-on:click="showDescription =! showDescription">Skoczek - opis</div>
	    <div class="box figureDescriptionMore" v-if="showDescription">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies.
				Skoczek jako jedyna figura szachowa może przeskakiwać nad innymi bierkami (zarówno swoimi, jak i przeciwnika). W dodatku jest jedyną figurą posiadającą taki ruch. Cecha ta powoduje, że nadaje się on doskonale do wykonania podwójnego uderzenia. Co ciekawe, jest to jedyna figura, która może zaatakować hetmana pozostając jednocześnie poza jego zasięgiem.
			</div>
		</div>
    <div class="box howToPlay" v-on:click="showInfo =! showInfo">Jak grać?</div>
    <div class="box moreInfo" v-if="showInfo">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies.
      Curabitur et ligula. Ut molestie a, ultricies porta urna.</br></br>
      Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum.</br></br>
    </div>
  </div>
  <footer class="footer"><button class="red">Zakończ rozgrywkę</button></footer>
</div>
  <script>
    new Vue({
      el: '#content',
      data: {
				showDescription: false,
        showInfo: false,
				board: [],
				x: 0,
				y: 0,
      },
			methods: {
				fillBoard() {
					var fieldCol = 'white';
					for(var r=0; r < 8; r++){
						for(var c=0; c < 8; c++){
							if(((c+r)%2)==0) {
								fieldCol = 'black';
							}
							else {
								fieldCol = 'white';
							}
							var html = "<div class='field " + fieldCol + "'></div>";
							this.board.push({ free: true, color: fieldCol, htmlElem: html, isSelected: false});
						}
					}
				},
				updateCoordinates: function(ev) {
					this.x = ev.clientX;
					this.y = ev.clientY;
				},
				selectField() {
					var field = this.board[40];
					field.isSelected = true;
					field.htmlElem = "<div class='field " + field.color + " greenBorder'></div>";
					}
			},
			beforeMount(){
	 			this.fillBoard();
				this.selectField();
			},
    });
  </script>
</body>
</html>
