<!DOCTYPE  html>
<html lang='pl'>
<head>
	<meta charset='utf-8'>
	<title>MasterChess</title>
	<link href='styles.css' rel='stylesheet'/>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
</head>
<body>

<div id="content">
  <header>
    <p id="logo">Master<span style="font-weight: bold;">Chess</span></p>
    <button class="red">Wyloguj</button>
  </header>
  <div class="wrapper">
    <div class="box menu"></div>
    <div class="box chess">
			<span v-for="(field, index) in board">
					<div v-on:click="selectField()" :class="['field', field.color, {greenBorder: isFieldSelected}]"></div>
			 </span>
		</div>
    <div class="box infoGame">Twój ruch</div>
    <div class="box howToPlay" v-on:click="showInfo =! showInfo">Jak grać?</div>
    <div class="box moreInfo" v-if="showInfo">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies.
      Curabitur et ligula. Ut molestie a, ultricies porta urna.</br></br>
      Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum.</br></br>
    </div>
  </div>
  <footer><button class="red">Zakończ rozgrywkę</button></footer>
</div>
  <script>
    new Vue({
      el: '#content',
      data: {
        showInfo: false,
				board: [],
				isFieldSelected: true,
      },
			methods: {
				fillBoard() {
					var fieldCol = 'white';
					for(var r=0; r < 8; r++){
						for(var c=0; c < 8; c++){
							if(((c+r)%2)==0) {
								fieldCol = 'black';
							}
							else { fieldCol = 'white'; }
							this.board.push({ free: true, color: fieldCol});
						}
					}
				},
				selectField() {
					this.selectedField =! this.selectedField;
				}
			},
			beforeMount(){
	 			this.fillBoard()
			},
    });
  </script>
</body>
</html>
