<!DOCTYPE  html>
<html lang='pl'>
<head>
	<meta charset='utf-8'>
	<title>MasterChess</title>
	<link href='../static/styles.css' rel='stylesheet'/>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>-->
</head>
<body>

<div class="wrapper">
  <div class="box box-header">Co chcesz zrobić?</div>
  <div class="box box-content">
    <button class="button-option">Dołącz do istniejącej rozgrywki</button>
    <button class="button-option">Stwórz swoją!</button>
  </div>
  <div class="box-footer">frfrfrf</div>
</div>

</body>
</html>
