body {
  margin: 0px;
	font-family: Roboto;
}

content {
  margin: 0px 30px;
}

header {
  background-color: #007791;
  padding: 10px;
  color: #F2F2F2;
}
footer {
  background-color: #003845;
  padding: 10px;
  color: #F2F2F2;
}
.wrapper{
  text-align: center;
  background-color:  #E0E0E0;
  color: #444;
}

.wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-areas:
     "header"
     "left-navbar"
     "right-navbar"
     "sidebar"
     "column1"
     "column2"
     "footer"
}

@media only screen and (min-width: 800px)  {
.wrapper {
    grid-template-columns: auto 200px 200px 200px auto;
    grid-template-areas:
    "... menu menu menu ..."
    "... chess chess infoGame ..."
    "... howToPlay howToPlay howToPlay ..."
    "... moreInfo moreInfo moreInfo ..."
}
}

.box {
  padding: 15px;
}

.chess, .infoGame, .howToPlay {
  border-radius: 5px;
}

.menu {
  grid-area: menu;
  background-color: #E0E0E0;
  color: black;
}

.chess {
  grid-area: chess;
  background-color: #aaaaaa;
  height: 400px;
}

.infoGame{
  grid-area: infoGame;
  background-color: #F7F7F7;
}

.howToPlay{
  grid-area: howToPlay;
  background-color: #007791;
  color: #F2F2F2;
}

.moreInfo{
  grid-area: moreInfo;
}


.footer{
  grid-area: footer;
  background-color: #999;
}
