#effect {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.highlight {
  background-color: red;
  width: 200px !important;
}

.shrink {
  background-color: gray;
  width: 50px !important;
}

.border {
  border: 3px solid deepPink;
}

.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: lightPink;
}

.green{
  background-color: green;
}

.yellow{
  background-color: yellow;
}

.large{
  font-size: 200%;
}

.gradient{
  background: linear-gradient(red, yellow)
}

#progressBar {
  margin: 10px 0;
  width: 0px;
  height: 20px;
  background-color: tomato;
}
