@import "../_variables.scss";

.field {
  width: 50px;
  height: 50px;
  float: left;
  display: inline;
  box-sizing: border-box;
  background-size: 45px;
  background-position: center;
  background-repeat: no-repeat;
}

.field.white {
  background-color: $white-field-color;
}

.field.black {
  background-color: $black-field-color;
}

.field.isSelected {
  background-color: green;
}

.field.move {
  border: 4px solid green;
}

.field.f1 {
  background-image: url("img/chessman/1.png");
}
.field.f2 {
  background-image: url("img/chessman/2.png");
}
.field.f3 {
  background-image: url("img/chessman/3.png");
}
.field.f4 {
  background-image: url("img/chessman/4.png");
}
.field.f5 {
  background-image: url("img/chessman/5.png");
}
.field.f6 {
  background-image: url("img/chessman/6.png");
}
.field.f7 {
  background-image: url("img/chessman/7.png");
}
.field.f8 {
  background-image: url("img/chessman/8.png");
}
.field.f9 {
  background-image: url("img/chessman/9.png");
}
.field.f10 {
  background-image: url("img/chessman/10.png");
}
.field.f11 {
  background-image: url("img/chessman/11.png");
}
.field.f12 {
  background-image: url("img/chessman/12.png");
}
